<div class="jumbotron bg-white ">
  <h4 class="text-center">Log into Adinabook</h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'log-in' }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'you@example.com' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-warning btn-block btn-lg' %>
    </div>
  <% end %>

  <hr />
  <div class="mx-auto text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
